.location {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40%;
    margin-bottom: 20px;
    padding: 6px;
    background-color: #f7f7f7;
    color: black;
    background-color: gray;
    border: 2px ridge #ccc;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #007bff;
    margin-top: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}